{% load i18n %}
{% load common_tags %}

<a href="{{ post.url }}" class="post_base-list__single-post">
    {% responsive_featured_image post 'fill-350x350' 'post_base-list__image' %}
    <div class="post_base-list__post-info">
        <div class="post_base-list__info-container">
            <p class="post_base-list__title">{{ post.title }}</p>
            <p class="post_base-list__date">{{ post.date }}</p>
            <p class="post_base-list__post-content">{% get_description post %}</p>
        </div>
        <p class="post_base-list__read-more">{% trans 'Read more...' %}</p>
    </div>
</a>
