.footer {
  @extend %sticky-footer;

  &-contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 22px;
    color: $page_color_6;
    margin: 30px 0;

    &__socials {

      //temporary
      section {
        display: flex;
      }
      p {
        margin: 15px;
      }
    }

    &__form {
      text-align: center;
      section {
        text-align: left;
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }

      label {
        margin-bottom: 10px;
        font-size: 16px;
      }

      input, textarea {
        color: $page_color_1;
        background-color: $page_color_2;
        border: none;
        border-bottom: solid 2px $page_color_6;
      }

      textarea:focus, input:focus{
        outline: none;
      }

      textarea {
        resize: none;
      }

      button {
        background-color: $page_color_5;
        color: $page_color_1;
        transition: 0.3s;
        padding: 15px 35px;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
        cursor: pointer;
        margin-top: 15px;
      }
      button:hover {
        background-color: $page_color_4;
      }
    }
  }

  &__orgs {
    padding: 2rem 0;
    background: $page_color_7;
    color: $page_color_6;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &__single {
      & img {
        height: 8rem;
        width: auto;
        color: $page_color_6;
        transition: filter 0.3s;
        padding: 0.75rem;

        &:hover {
          filter: brightness(250%);
        }
      }
    }
  }

  &__copyright {
    background-color: $page_color_2;
    color: $page_color_6;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }

  &__text {
    font-size: 1rem;
  }
}

.grecaptcha-badge {
  display:none !important;
}
