Django>=3.1.2,<3.2
wagtail>=2.10.2,<2.11
-e git+https://github.com/sfikrakow/django-sfibase.git@5dfb2f269c791144304ac433f8aa4d03a9b9ac7c#egg=django_sfibase
django-modeltranslation>=0.15.2,<0.16
wagtail-modeltranslation>=0.10.14,<0.11.0
django-livereload-server==0.3.2
django-redis>=4.12.1,<4.13
numpy>=1.19.2,<1.20
opencv-contrib-python-headless>=4.4.0.44,<4.4.1
django-recaptcha==2.0.6
django-webpack-loader==0.7.0
