Django>=3.2,<3.3
wagtail>=2.12.3,<2.13
django-modeltranslation>=0.16.2,<0.17
wagtail-modeltranslation>=0.10.17,<0.11.0
django-redis>=4.12.1,<4.13
numpy>=1.19.2,<1.20
opencv-contrib-python-headless>=4.4.0.44,<4.4.1
django-recaptcha==2.0.6
django-webpack-loader==0.7.0
mozilla-django-oidc==1.2.4
fontawesome-free==5.15.2
mutagen==1.45.1
