{% load i18n %}
{% load common_tags %}

<a href="{{ edition.url }}" class="post_base-list__single-post">
  {% responsive_img edition.get_featured_image 'fill-350x350' 'post_base-list__image' %}
  <div class="post_base-list__post-info">
    <div class="post_base-list__info-container">
      <p class="post_base-list__title">{{ edition.title }}</p>
      <p class="post_base-list__post-content">{% get_description edition %}</p>
    </div>
    <p class="post_base-list__read-more">{% trans 'Read more...' %}</p>
  </div>
</a>
