{% load i18n %}
{% load common_tags %}

<a href="{{ event.url }}" class="post_base-list__single-post">
    {% responsive_img event.get_featured_image 'fill-350x350' 'post_base-list__image' %}
    <div class="post_base-list__post-info">
        <div class="post_base-list__info-container">
            <p class="post_base-list__title">{{ event.title }}</p>
            <ul class="post_base-list__subtitle">
                {% if event.sponsor %}
                    <li>{% fa_icon 'fas fa-building' %} {{ event.sponsor.name }}</li>
                {% endif %}
                {% for event_speaker in event.event_speakers.all %}
                    {% if event_speaker.live %}
                        <li>{% fa_icon 'fas fa-user' %} {{ event_speaker.speaker.title }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p class="post_base-list__date">{{ event.date }}</p>
            <p class="post_base-list__post-content">{% get_description event %}</p>
        </div>
        <p class="post_base-list__read-more">{% trans 'Read more...' %}</p>
    </div>
</a>
