{% load i18n %}
{% load common_tags %}

<div class="agenda__legend">
    <ul>
        {% if indexes.count > 1 %}
            {% for index in indexes %}
                <li><a href="{{ index.url }}">{% fa_icon 'fas fa-square' icon_color=index.color %}
                    - {{ index.title }}</a></li>
            {% endfor %}
        {% endif %}
        {% if categories.count > 1 %}
            {% for category in categories %}
                <li><a href="{{ category.url }}">{% fa_icon category.icon icon_color=category.color %}
                    - {{ category.name }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>