{% load i18n %}
{% load common_tags %}

<a href="{{ speaker.url }}" class="speaker-list__single-speaker">
  {% responsive_img speaker.featured_image 'fill-350x350' 'speaker-list__image' %}
  <div class="speaker-list__speaker-info">
    <div class="speaker-list__info-container">
      <p class="speaker-list__title">{{ speaker.title }}</p>
      <p class="speaker-list__date">{{ speaker.date }}</p>
      <p class="speaker-list__speaker-content">{% get_description speaker %}</p>
    </div>
    <p class="speaker-list__read-more">{% trans 'Read more...' %}</p>
  </div>
</a>