{% load i18n %}
{% load common_tags %}

<a href="{{ speaker.url }}" class="post_base-list__single-post">
  {% responsive_img speaker.get_featured_image_or_default 'fill-350x350' 'post_base-list__image' %}
  <div class="post_base-list__post-info">
    <div class="post_base-list__info-container">
      <p class="post_base-list__title">{{ speaker.title }}</p>
      <p class="post_base-list__post-content">{% get_description speaker %}</p>
    </div>
    <p class="post_base-list__read-more">{% trans 'Read more...' %}</p>
  </div>
</a>
