{% load common_tags %}
<!-- TODO -->

<div class="agenda">
    <div class="agenda__navigation">
        {% for day in agenda %}
            <div class="agenda__navigation-day" data-index={{ forloop.counter0 }}>{{ day.date }}</div>
        {% endfor %}
    </div>
    <div class="agenda__container " style="height: 500px">
        {% for day in agenda %}
            <div class="agenda__day" data-index={{ forloop.counter0 }}>
            {% for row in day.rows %}
               <div class="agenda__row">
                {% for column in row.columns %}
                    <div class="agenda__column">
                    {% for entry in column.entries %}
                        {% if entry.is_break %}
                            <div class="agenda__break" style="height: {{ entry.duration_minutes }}px">break: {{ entry }}</div>
                        {% else %}
                            <div class="agenda__event" style="height: {{ entry.duration_minutes }}px">{{ entry.title }}</div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

