{% load i18n %}
{% load common_tags %}

{% get_current_language as LANGUAGE_CODE %}

<div class="agenda container-wide">
    {% if categories.count > 1 %}
        <div class="agenda__legend">
            <ul>
                {% for category in categories %}
                    <li>{% fa_icon category.icon icon_color=category.color %} - {{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="agenda__navigation">
        {% for day in agenda %}
            <div class="agenda__navigation-day"
                 data-index={{ forloop.counter0 }}>{{ day.date|date:'l' }}, {{ day.date|date }}</div>
        {% endfor %}
    </div>
    <div class="agenda__container">
        {% for day in agenda %}
            <div class="agenda__day" data-index={{ forloop.counter0 }}>
                <div class="agenda__navigation-day-desktop"
                     data-index={{ forloop.counter0 }}>{{ day.date|date:'l' }}, {{ day.date|date }}</div>
                {% for row in day.rows %}
                    <div class="agenda__row">
                        {% for column in row.columns %}
                            <div class="agenda__column">
                                {% for entry in column.entries %}
                                    {% if entry.is_break %}
                                        <div class="agenda__break {% if entry.is_day_padding %}agenda__day-padding{% endif %}"
                                             style="height: calc({{ entry.duration_minutes }}px * 3);"></div>
                                    {% else %}
                                        <a href="{{ entry.url }}" class="agenda__event" style="
                                                height: calc({{ entry.duration_minutes }}px * 3);
                                                background-color: {{ entry.bg_color_hex }}">
                                            <div class="agenda__event-info">
                                                <p>{{ entry.start_time }}</p>
                                                <p>
                                                    {% if entry.language and entry.language != LANGUAGE_CODE %}
                                                        {{ entry.language|upper }}
                                                    {% endif %}
                                                    {% if entry.group_icon %}
                                                        {% fa_icon entry.group_icon icon_color=entry.group_icon_color_hex %}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="agenda__event-details">
                                                <p class="agenda__event-title agenda__event-title-desktop"
                                                >{{ entry.title }}</p>
                                                <p class="agenda__event-speakers">{{ entry.speakers }}</p>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</div>

