{% extends 'common/post.html' %}
{% load common_tags %}
{% load wagtailcore_tags %}

{% block header %}
    {% include 'common/partials/event_header.html' %}
{% endblock header %}

{% block body_class_specifier %}
    <div class="post_base__body post_base__body--event">
{% endblock body_class_specifier %}


{% block body_content %}
    <div class="event-info">
        <div class="event-info__title event-info__title--event-title">
            Temat
        </div> 
        <div class="event-info__content event-info__content--event-title">
            {{ page.title }}
        </div>
    </div>
    <div class="event-info">
        <div class="event-info__title">
            Zapisy
        </div> 
        <div class="event-info__content">
            TODO
        </div>
    </div>
    <div class="event-info">
        <div class="event-info__title">
            Abstrakt
        </div> 
        <div class="event-info__content">
            {{ page.content | richtext }}
        </div>
    </div>
    <div class="event-info">
        <div class="event-info__title">
            Czas trwania
        </div> 
        <div class="event-info__content">
            {{ page.duration_minutes }} min
        </div>
    </div>
{% endblock body_content %}