{% load common_tags %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}
    {% block index_legend %}
        {% if categories.count > 1 or indexes.count > 1 %}
            {% include 'agenda/partials/event_index_legend.html' %}
        {% endif %}
    {% endblock %}
    <section class="post_base-list">
        <div class="post_base-list__container">
            {% for post in posts %}
                {% include 'agenda/partials/event_index_single.html' with event=post %}
            {% endfor %}
        </div>
        <div class="post_base-list__more">
            <a class="post_base-list__more-button" href="{% pageurl value.index %}">{% trans 'More...' %}</a>
        </div>
    </section>
{% endblock %}
