{% extends 'common/post.html' %}
{% load wagtailembeds_tags %}
{% load i18n %}
{% load common_tags %}
{% load wagtailcore_tags %}

{% block header %}
    {% include 'agenda/partials/event_header.html' %}
{% endblock header %}

{% block body_class_specifier %}post_base__body post_base__body--event{% endblock %}


{% block body_content %}
    {% if page.event_speakers and page.event_speakers.count > 0 %}
        <div class="event-info">
            <div class="event-info__title">
                {% if page.event_speakers.count > 1 %}
                    {% trans 'Speakers' %}
                {% else %}
                    {% trans 'Speaker' %}
                {% endif %}
            </div>
            <div class="event-info__content">
                {% for event_speaker in page.event_speakers.all %}
                    <a href="{% pageurl event_speaker.speaker %}"
                       class="event-header_details_value event-header_details_value--link">
                        {{ event_speaker.speaker.title }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if page.sponsor %}
        <div class="event-info event-info-center">
            <div class="event-info__title">
                {% trans 'Sponsor' %}
            </div>
            <div class="event-info__content">
                <a href="{{ page.sponsor.link }}" rel="noreferrer noopener" target="_blank"
                   class="event-header_details_value event-header_details_value--link">
                    {% if page.sponsor.logo %}
                        {% responsive_img page.sponsor.logo 'max-500x100' 'event-header_details_value--image-link' %}
                    {% else %}
                        {{ page.sponsor.name }}
                    {% endif %}
                </a>
            </div>
        </div>
    {% endif %}
    <div class="event-info">
        <div class="event-info__title">
            {% trans 'Abstract' %}
        </div>
        <div class="event-info__content rich-text">
            {{ page.content | richtext }}
        </div>
    </div>
    {% if page.duration_minutes %}
        <div class="event-info">
            <div class="event-info__title">
                {% trans 'Duration' %}
            </div>
            <div class="event-info__content">
                {{ page.duration_minutes }} min
            </div>
        </div>
    {% endif %}
    {% if page.recording_link %}
        <div class="event-info">
            <div class="event-info__title">
                {% trans 'Recording' %}
            </div>
            <div class="event-info__content">
                <div><a class="event-header_details_value event-header_details_value--link"
                        href="{{ page.recording_link }}"
                        rel="noreferrer noopener" target="_blank"><i
                        class="fas fa-external-link-alt"></i> {{ page.recording_link|truncatechars:50 }}</a></div>
                <div class="event-header_details_value--embed">
                    {% embed page.recording_link %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock body_content %}
