.agenda {
  font-weight: bold;
  margin: 20px auto;
}

.agenda__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &-day {
    padding: 10px;
    margin: 5px;
    max-width: 20rem;
    width: 100%;
    background-color: $page_color_5;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
  }

  &-day.active {
    background-color: $page_color_4;
  }
}

.agenda__navigation-day-desktop {
  display: none;
}

.agenda__container {
  display: flex;
  margin: 0 auto;
  justify-content: center;

  .agenda__day {
    display: none;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 50rem;
  }

  .agenda__row {
    display: flex;
    justify-content: space-around;
  }

  .agenda__column {
    flex-grow: 1;
    flex-basis: 0;
  }

  .agenda__break {
    opacity: 0;
  }

  .agenda__day-padding {
    display: none;
  }

  .agenda__event {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    color: $page_color_1;
    transition: filter 0.2s ease-in-out;

    &:hover {
      filter: brightness(1.4);
    }

    &-info {
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;

      & .fa-icon {
        font-size: 20px;
        margin-left: 0.3em;
      }

      & p {
        margin: 0;
      }
    }

    &-details {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-title {
      width: 100%;
      margin: 0.3em 0;
      font-size: 1rem;
    }

    &-speakers {
      margin: 0.3em 0;
      font-size: 0.8rem;
    }
  }
}

.agenda__legend {
  margin: 20px;
  font-size: 1rem;
  text-align: center;

  & > ul {
    border-radius: 10px;
    display: flex;
    max-width: 100rem;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    background-color: $page_color_7;
    list-style: none;
    flex-wrap: wrap;

    & > li {
      display: inline-block;
      margin: 0.2rem 1rem;
      white-space: nowrap;
    }
  }

  & .fa-icon {
    font-size: 1.2rem;
  }
}

@include breakpoint(laptop) {
  .agenda {
    &__navigation {
      display: none;
    }

    &__navigation-day-desktop {
      display: block;
      text-align: center;
      padding: 10px;
      background-color: $page_color_7;
      border-radius: 5px;
      font-size: 16px;
      margin: 7px 1px;
    }
  }

  .agenda__container {
    .agenda__event {
      padding: 10px 15px;
    }

    .agenda__day-padding {
      display: block;
    }

    .agenda__day {
      display: block !important;
    }
  }
}
