.dropdown {
  color: red;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 0 10px;

  &__title {
    color: $page_color_5;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      color: $page_color_4;
    }
  }

  &__icon {
    margin-left: 2px;
  }

  &__content {
    color: $page_color_1;
    font-size: 16px;
    transition: max-height 0.2s ease-out;
    max-height: 0px;
    text-align: justify;
    padding: 0 30px;

    a {
      color: $page_color_5;
      text-decoration: none;
      transition: all .3s ease-in-out;
      word-wrap: break-word;

      &:hover {
        color: $page_color_4;
      }
    }
  }

  &.active &__icon {
    transform: rotate(180deg);
  }

}

@include breakpoint(tablet_portrait) {
  .dropdown {
    text-align: left;
    padding: 0 30px;

    &__title {
      font-size: 32px;
    }

    &__content {
      font-size: 24px;
      padding: 0;
    }
  }
}

@include breakpoint(tablet_landscape) {
  .dropdown {
    &__title {
      font-size: 30px;
    }

    &__content {
      font-size: 22px;
    }
  }
}


@include breakpoint(fhd) {
  .dropdown {

    &__title {
      font-size: 32px;
    }

    &__content {
      font-size: 24px;
    }
  }
}
