.dropdown {
  @extend .container-regular;

  margin-top: 1rem;
  margin-bottom: 1rem;

  &__title {
    margin: 0.5em 0;
    font-weight: bold;
    display: block;
    color: $page_color_5;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-decoration: none;

    &:hover {
      color: $page_color_4;
    }
  }

  &__icon {
    transform: rotate(180deg);
    margin-left: 2px;
  }

  &__content {
    color: $page_color_1;
    font-size: 1.2rem;
    transition: all 0.2s ease-out;
    text-align: justify;

    transform-origin: top;

    a {
      color: $page_color_5;
      text-decoration: none;
      transition: all .3s ease-in-out;
      word-wrap: break-word;

      &:hover {
        color: $page_color_4;
      }
    }
  }

  &:not(&:focus-within) {
    .dropdown__icon {
      transform: none;
    }

    .dropdown__content {
      height: 0;
      transform: scaleY(0);
    }
  }
}
