.block-photo_gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  flex-shrink: 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //height: 200px;
    text-decoration: none;
    color: $page_color_6;
    font-size: 14px;
    margin: 10px;
    transition: 0.3s;

    & > p {
      width: 100%;
      text-align: center;
    }

    &:hover {
      color: $page_color_4;
      transform: scale(1.1);
    }
  }

  &__photo-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    &__white {
      background-color: white;
      border-radius: 5px;
    }
  }

  &__image img {
    width: 120px;
  }

}

@include breakpoint(tablet_portrait) {
  .block-photo_gallery {
    &__image img {
      width: 180px;
    }

    //&__container {
    //  height: 230px;
    //}
  }
}

@include breakpoint(fhd) {
  .block-photo_gallery {
    &__image img {
      width: auto;
    }

    //&__container {
    //  height: auto;
    //}
  }
}
