.block-photo_slider {
  max-width: 80vw;
  margin: 0 auto;

  *:hover {
    transform: scale(1);
  }

  a > p {
    text-align: center;
    width: 100%;
  }

  .block-photo_gallery__container {
    margin: 0;
  }
}

.slider img {
    height: 100px;
}


 @include breakpoint(tablet_landscape) {
   .slider img {
      height: 150px;
  }
 }


// GLIDE PACKAGE https://github.com/glidejs/glide

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.glide__slide > div {
  width: 100%;
}
