{% load common_tags %}
{% load i18n %}
{% load static %}


<div class="post_base__header">
    <div class="post_base__header-container">
        {% responsive_img_set page.get_edition_image 'THEME_HEADER' 'post_base__header-image' placeholder='img/CoverSSO.png' placeholder_webp='img/CoverSSO.webp' %}
        <div class="post_base__sfi-edition-info">
            <p class="post_base__sfi-edition">{% trans '16th edition' %}</p>
            <p class="post_base__sfi-year">2021</p>
        </div>
    </div>
    <div class="post_base__header-title">
        {% block header_content %}
        {% endblock %}
    </div>
</div>
