{% extends 'common/partials/post_base_header.html'%}

{% block header_class_specifier %}
    <div class="post_base__header post_base__header--event">
{% endblock %}

{% block details %}
    <div class="event-header_details">
        <p>Typ: <span class="event-header_details_value">{{ page.event_category }}</span></p>
        <p>Prelegent: 
            <a href={{ page.event_speaker.url }} class="
                event-header_details_value 
                event-header_details_value--link"
            >
                {{ page.event_speaker }}
            </a>
        </p>
        <p>Sponsor: <span class="event-header_details_value">{{ page.sponsor }}</span></p>
        <p>Język: <span class="event-header_details_value">{{ page.language }}</span></p>
        <p>Edition: <span class="event-header_details_value">TODO</span></p>
    </div>
{% endblock details %}