{% load common_tags %}
{% load recaptcha %}
{% load static %}
{% load i18n %}

{% include 'pages/static_footer.html' %}

<footer class="footer">
    <div class="footer-divider">
        <div class="footer-divider__before-left"></div>
        <div class="footer-divider__before-right"></div>
        {% responsive_img page.get_footer_image 'max-2560x500' 'footer-divider__image' placeholder='img/footer.png' placeholder_webp='img/footer.webp' %}
        <div class="footer-divider__after-left"></div>
        <div class="footer-divider__after-right"></div>
    </div>
    <div class="footer-contact">
        <div class="footer-contact__socials">
            <h2>{% trans 'Contact us' %}</h2>
            <section>
                <a title="Facebook" href="https://www.facebook.com/sfikrakow" target="_blank" rel="noreferrer noopener"><i
                        class="fab fa-facebook-square"></i></a>
                <a title="YouTube" href="https://www.youtube.com/user/StudenckiFestiwalInf" target="_blank"
                   rel="noreferrer noopener"><i class="fab fa-youtube"></i></a>
                <a title="Instagram" href="https://www.instagram.com/sfikrakow/" target="_blank"
                   rel="noreferrer noopener"><i class="fab fa-instagram"></i></a>
                <a title="Linkedin" href="https://www.linkedin.com/company/academic-it-festival/" target="_blank"
                   rel="noreferrer noopener"><i class="fab fa-linkedin"></i></a>
                <a title="Twitter" href="https://twitter.com/sfikrakow" target="_blank" rel="noreferrer noopener"><i
                        class="fab fa-twitter"></i></a>
            </section>
            <p><a href="mailto:kontakt@sfi.pl">kontakt@sfi.pl</a></p>
        </div>
        <form class="footer-contact__form" id="contact-form">
            <section>
                <label for="name">{% trans 'Name and surname' %}*</label>
                <input id="name" name="name" type="text" required>
            </section>
            <section>
                <label for="email">{% trans 'Email address' %}*</label>
                <input id="email" name="email" type="email" required>
            </section>
            <section>
                <label for="topic">{% trans 'Subject' %}*</label>
                <input id="topic" name="topic" type="text" required>
            </section>
            <section>
                <label for="message">{% trans 'Your message' %}*</label>
                <textarea id="message" name="message" rows="5" cols="60" required></textarea>
            </section>
            <div class="g-recaptcha"
                 data-sitekey="{% get_captcha_public_key %}"
                 data-callback="captchaSubmit"
                 data-size="invisible">
            </div>
            <p class="footer-contact__form-positive form-result">{% trans 'Your message has been sent' %}</p>
            <p class="footer-contact__form-negative form-result">{% trans "Something went wrong - we can't deliver your message. Write to kontakt@sfi.pl" %}</p>
            <script>
                const btn = document.createElement('button');
                btn.innerText = '{% trans "Send" %}';
                document.querySelector('.footer-contact__form').appendChild(btn);
            </script>
            <noscript>JavaScript support is required to use this form</noscript>
        </form>
    </div>
    <div class="footer__orgs">
        <section class="footer__orgs-orgs">
            <h3>{% trans 'Organizers' %}</h3>
            <div class="container-orgs">
                <a href="https://ksi.ii.uj.edu.pl/" target="_blank" rel="noopener" title="Koło Studentów Informatyki UJ"
                   class="footer__orgs__single">
                    <img src="{% static 'img/orgs/logo-ksi.svg' %}" alt="KSI UJ logo">
                </a>
                <a href="https://www.facebook.com/knbit" target="_blank" rel="noopener" title="Koło Naukowe BIT AGH"
                   class="footer__orgs__single">
                    <img src="{% static 'img/orgs/logo-bit.svg' %}" alt="BIT AGHlogo">
                </a>
                <a href="https://www.facebook.com/KNIUEK" target="_blank" rel="noopener" title="Koło Naukowe i::team UEK"
                   class="footer__orgs__single">
                    <img src="{% static 'img/orgs/logo-iteam.svg' %}" alt="iTEAM UEKlogo">
                </a>
                <a href="https://www.facebook.com/KniOnPk/" target="_blank" rel="noopener" title="Koło Naukowe Informatyki PK"
                   class="footer__orgs__single">
                    <img src="{% static 'img/orgs/logo-pk.svg' %}" alt="KNII PK logo">
                </a>
            </div>
        </section>
        <section class="footer__orgs-orgs">
            <h3>{% trans 'Helps us' %}</h3>
            <div class="container-academica">
                <a href="https://www.academica.org.pl/" target="_blank" rel="noopener"
                   title="Fundacja Studentów i Absolwentów AGH w Krakowie ACADEMICA" class="footer__orgs__single">
                    <img src="{% static 'img/orgs/logo-aca.svg' %}" alt="ACADEMICA logo">
                </a>
            </div>
        </section>
    </div>
    <div class="footer__copyright">
        <div>© 2018 - {% now  'Y' %} {% trans 'SFI IT Academic Festival' %}</div>
        <div>{% trans 'All rights reserved' %}</div>
    </div>
</footer>
