{% load static %}
{% load i18n %}

{% include 'pages/static_footer.html' %}

<footer class="footer">
    <div class="footer-contact">
        <div class="footer-contact__socials">
            <h2>Contact with us</h2>
            <section>
                <p>xxx</p>
                <p>xxx</p>
                <p>xxx</p>
                <p>xxx</p>
            </section>
        </div>
        <form class="footer-contact__form" action="">
            <section>
                <label for="name">Name and surname *</label>
                <input  id="name" name="name" type="text" required>
            </section>
            <section>
                <label for="email">Adres email *</label>
                <input  id="email" name="email" type="email" required>
            </section>
            <section>
                <label for="topic">Temat *</label>
                <input id="topic" name="topic" type="text" required>
            </section>
            <section>
                <label for="message">Your message *</label>
                <textarea id="message" name="message" rows="5" cols="60" required></textarea>
            </section>
            <button>Send!</button>
        </form>
    </div>
    <div class="footer__orgs">
        <a href="https://ksi.ii.uj.edu.pl/" target="_blank" rel="noopener" title="Koło Studentów Informatyki UJ"
           class="footer__orgs__single">
            <img src="{% static 'common/img/orgs/logo-ksi.svg' %}" alt="KSI UJ logo">
        </a>
        <a href="https://www.facebook.com/knbit" target="_blank" rel="noopener" title="Koło Naukowe BIT AGH"
           class="footer__orgs__single">
            <img src="{% static 'common/img/orgs/logo-bit.svg' %}" alt="BIT AGHlogo">
        </a>
        <a href="https://www.facebook.com/KNIUEK" target="_blank" rel="noopener" title="Koło Naukowe i::team UEK"
           class="footer__orgs__single">
            <img src="{% static 'common/img/orgs/logo-iteam.svg' %}" alt="iTEAM UEKlogo">
        </a>
        <a href="https://www.facebook.com/KniOnPk/" target="_blank" rel="noopener" title="Koło Naukowe Informatyki PK"
           class="footer__orgs__single">
            <img src="{% static 'common/img/orgs/logo-pk.svg' %}" alt="KNII PK logo">
        </a>
        <a href="https://www.academica.org.pl/" target="_blank" rel="noopener"
           title="Fundacja Studentów i Absolwentów AGH w Krakowie ACADEMICA" class="footer__orgs__single">
            <img src="{% static 'common/img/orgs/logo-aca.svg' %}" alt="ACADEMICA logo">
        </a>
    </div>
    <div class="footer__copyright">
        <div>© 2018 - {% now  'Y' %} {% trans 'SFI IT Academic Festival' %}</div>
        <div>{% trans 'All rights reserved' %}</div>
    </div>
</footer>
