<nav class="navbar">
    <div class="navbar__logo">
        sfi
        <button id="dropdown" class="hamburger hamburger--emphatic" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    </div>

    <div class="navbar__links">
        <a href="#" class="navbar__link">16. SFI przeniesione</a>
        <a href="#" class="navbar__link">O nas</a>
        <a href="#" class="navbar__link">FAQ</a>
        <a href="#" class="navbar__link">Newsletter</a>
    </div>
</nav>