{% load static %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtail_modeltranslation %}

<nav class="navbar">
    <a class="navbar__logo" href="{% slugurl_trans 'home' %}">
        <picture>
            <source srcset="{% static 'common/img/logo.webp' %}" type="image/webp">
            <img src="{% static 'common/img/logo.png' %}" alt="sfi logo">
        </picture>
    </a>

    <ul class="navbar__links">
        {% for nav_item in settings.common.NavigationMenu.menu_items.all %}
            <li class="navbar__li">
                <a href="{{ nav_item.link }}" class="navbar__link"
                   {% if nav_item.open_in_new_tab %}target="_blank"
                   rel="noopener" {% endif %}>{{ nav_item.link_title }}</a>
            </li>
        {% endfor %}
        <li class="navbar__li" id="navbar__last">
            {% get_available_languages as languages %}
            {% get_current_language as lang %}
            {% for lang_code, lang_name in languages %}
                {% if page and lang != lang_code %}
                    {% language lang_code %}
                        <a class="navbar__link" href="{{ page.url }}">
                            {% with lang_icon='common/img/icon-'|add:lang_code|add:'.png'  lang_icon_webp='common/img/icon-'|add:lang_code|add:'.webp' %}
                                <picture>
                                    <source srcset="{% static lang_icon_webp %}" type="image/webp">
                                    <img class="navbar__image" src="{% static lang_icon %}"
                                         alt="{{ lang_name }} version icon">
                                </picture>
                            {% endwith %}
                        </a>
                    {% endlanguage %}
                {% endif %}
            {% endfor %}
        </li>

    </ul>

    <button class="hamburger" aria-label="Main menu">
        <span class="hamburger__outer">
            <span class="hamburger__inner">
            </span>
        </span>
    </button>
</nav>
