{% load static %}

<nav class="navbar">
    <img class="navbar__logo" src="{% static 'common/img/logo.png' %}" alt="logo">

    <div class="navbar__links">
        <a href="#" class="navbar__link">16. SFI przeniesione</a>
        <a href="#" class="navbar__link">O nas</a>
        <a href="#" class="navbar__link">FAQ</a>
        <a href="#" class="navbar__link">Newsletter</a>
    </div>
<button class="hamburger">
        <span class="hamburger__outer">
            <span class="hamburger__inner">
            </span>
        </span>
    </button>
</nav>