{% load webpack_loader %}
{% load wagtailcore_tags %}
{% load i18n %}
{% load static wagtailuserbar %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    {% render_bundle 'main' 'css' %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#333a6d">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="{% trans 'SFI IT Academic Festival' %}">
    <meta name="application-name" content="{% trans 'SFI IT Academic Festival' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <meta name="theme-color" content="#333a6d">

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WDKJFSD');</script>
    <!-- End Google Tag Manager -->


    {% block head %}
        <title>{% trans 'SFI IT Academic Festival' %}</title>
    {% endblock %}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDKJFSD"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


{% wagtailuserbar %}

<div class="content">
    {% include 'common/partials/navbar.html' %}
    {% include 'common/partials/header.html' %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</div>

{% block extra_footer %}
{% endblock %}

{% include 'common/partials/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
{% render_bundle 'main' 'js' %}

</body>

</html>
