{% load static wagtailuserbar %}
{% load compress %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock title %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock title_suffix %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% compress css %}
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'common/css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'common/css/fonts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'common/css/hamburgers.css' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'common/scss/main.scss' %}">
        {% block extra_scss %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock extra_scss %}
    {% endcompress %}

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock extra_css %}

{#    {% compress js preload %}#}
        {# Global javascript #}
{#        <script type="text/javascript" src="{% static 'common/js/main.js' %}"></script>#}
{#    {% endcompress %}#}
</head>

<body>
{% wagtailuserbar %}

<div class="content">
    {% include 'common/partials/navbar.html' %}
    {% block content %}{% endblock content %}
</div>


{% include 'common/partials/footer.html' %}

{% compress js %}
    {# Global javascript #}
    <script type="text/javascript" src="{% static 'common/js/main.js' %}"></script>
{% endcompress %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock extra_js %}
</body>
</html>
