{% extends 'common/base.html' %}
{% load wagtailcore_tags %}
{% load footer %}
{% load common_tags %}
{% load i18n %}

{% block head %}
    <title>{{ title }} | {% trans 'SFI IT Academic Festival' %}</title>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:locale" content="{% trans 'en_US' %}">
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:site_name" content="{% trans 'SFI IT Academic Festival' %}">
    <meta property="og:image" content="{% get_featured_image_url featured_image %}">
    <meta name="twitter:card" content="summary_large_image">
    <script type="application/ld+json">
        {
            "@type":"WebPage",
            "headline":"{{ title }}",
            "image":"{% get_featured_image_url featured_image %}",
            "url":"{{ canonical_url }}",
            "description":"{{ description }}",
            "@context":"https://schema.org"
        }
    </script>
    {% for lang_code, lang_name, locale_url, locale_full_url in locales %}
        <link rel="alternate" hreflang="{{ lang_code }}" href="{{ locale_full_url }}">
    {% endfor %}
{% endblock %}

{% block extra_footer %}
    {% get_footer page as footer %}{% include_block footer %}
{% endblock %}
