{% extends 'common/page.html' %}
{% load i18n %}
{% load common_tags %}

{% block content %}
    <section class="post_base-list">
        <h2 class="post_base-list__main-title">{{ title }}</h2>
        {% block index_legend %}
        {% endblock %}
        <div class="post_base-list__container">
            {% block index %}
                {% for post in posts %}
                    {% block single_post %}
                    {% endblock %}
                {% endfor %}
            {% endblock index %}
        </div>
    </section>
    {% block pagination %}
        <div class="pagination">
            <div class="pagination__left pagination__btn">
                {% if posts.has_previous %}
                    <a class="pagination__link"
                       href="{{ request.path }}?page={{ posts.previous_page_number }}">
                        {% fa_icon 'fas fa-arrow-circle-left' %} {% trans 'previous' %}</a>
                {% endif %}
            </div>
            <div class="pagination__right pagination__btn">
                {% if posts.has_next %}
                    <a class="pagination__link"
                       href="{{ request.path }}?page={{ posts.next_page_number }}">{% trans 'next' %}
                        {% fa_icon 'fas fa-arrow-circle-right' %}</a>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
