{% extends 'common/page.html' %}
{% load common_tags %}
{% load wagtailcore_tags %}

{% block content %}
    {% block header %}
    {% endblock header %}

    <section class="post_base">
        {% block body_class_specifier %}
        <div class="post_base__body">
        {% endblock body_class_specifier %}
            {% responsive_img page.get_featured_image_or_default 'fill-350x350' 'post_base__body-image' %}
            <div class="post_base__body-content">
                {% block body_content %}
                    {{ page.content | richtext }}
                {% endblock body_content %}
            </div>
        </div>
    </section>
{% endblock %}
