$font-stack:    'Open Sans', sans-serif;
$primary-color: #333;
$secondary-color: cadetblue;
$primary-background: #fafafa;
$secondary-background: #dddddd;

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font: 62.5% $font-stack;
  color: $primary-color;
  background-color: $primary-background;
  // Needed for a sticky footer
  display: flex;
  flex-direction: column;
}

// Sticky footer implementation
.content {
  flex: 1 0 auto;
}

%sticky-footer {
  flex-shrink: 0;
}
// End of sticky footer implementation

.hidden {
  display: none;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.footer {
  @extend %sticky-footer;
  background-color: $secondary-background;
  text-align: center;
  padding: 1rem;
}

.footer__text {
  font-size: 1rem;
  display: block;
}

.navbar {
  background-color: $secondary-background;
  padding: 0.8rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin navbar_hover($color) {
  color: $color;
  cursor: pointer;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.navbar__logo:hover {
  @include navbar_hover(lighten($primary-color, 20%));
}

.navbar__controls {
  font-size: 1.2rem;
  display: flex;
}

.controls__control {
  margin-right: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary-color;
  transition: color 0.3s ease-in-out;
}

.controls__control:hover {
  @include navbar_hover($secondary-color);
}

// Handling the responsive navbar
@media screen and (max-width: 660px) {
  .navbar {
    padding: 0.3rem 1.5rem;
    flex-direction: column;
  }

  .navbar__logo {
    align-self: stretch;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__controls {
    display: none;
  }

  .navbar__controls--show {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .controls__control {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 661px) {
  .hamburger {
    display: none;
  }
}
