{% load common_tags %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}
    <section class="post_base-list">
        <div class="post_base-list__container">
            {% for post in posts %}
                {% include 'blog/partials/post_index_single.html' with post=post %}
            {% endfor %}
        </div>
        <div class="post_base-list__more">
            <button class="post_base-list__more-button" onclick="location.href=`{% pageurl value.index %}`">{% trans 'More...' %}</button>
        </div>
    </section>
{% endblock %}
