// WEBSITE FONTS:
$page_font_default: 'Open Sans', sans-serif;
$page_font_headers: 'Lato', sans-serif;
$page_font_extra: 'Raleway', sans-serif;
// ---------------------------------------------------------------------------------------------------------------------
//                                                       Colors
// ---------------------------------------------------------------------------------------------------------------------
// Two main colors
$page_color_1: #fcfcfc;
$page_color_2: #000000;

// Three edition theme colors
$page_color_3: #f2e0d5;
$page_color_4: #f2a341;
$page_color_5: #f2522e;

// Extra colors (static)
$page_color_6: #f2e0d5;
$page_color_7: #141414;
$page_color_8: #f2522e;
$page_color_9: #5d84a6;
$page_color_10: #f48120;
$page_color_11: #7aa66d;