// WEBSITE FONTS:
$page_font_default: 'Open Sans', sans-serif;
$page_font_headers: 'Lato', sans-serif;
$page_font_extra: 'Raleway', sans-serif;
// ---------------------------------------------------------------------------------------------------------------------
//                                                       Colors
// ---------------------------------------------------------------------------------------------------------------------
// Two main colors
$page_color_1: #fcfcfc;
$page_color_2: #000000;

// Three edition theme colors
$page_color_3: #7abf7f;
$page_color_4: #f24484;
$page_color_5: #542773;

// Extra colors (static)
$page_color_6: #98999c;
$page_color_7: #141414;
$page_color_8: #e4203b;
$page_color_9: #2d2d2d;
$page_color_10: #f48120;
$page_color_11: #5db6e6;