.event-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    &__title {
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        flex-basis: 15%;
        text-align: right;
        color: $page_color_4;

        &--event-title {
            align-self: center;
        }
    }

    &__content {
        font-size: 1.2rem;
        flex-basis: 80%;
        text-align: left;

        &--event-title {
            font-size: 2rem;
            color: $page_color_5;
        }
    }
}

.event-header_details {
    font-size: 1rem;

    &_value {
        color: $page_color_5;
        &--link {
            color: $page_color_5;
            text-decoration: none;
            transition: color 0.2s ease-in;
            font-weight: 700;

            &:hover {
                color: $page_color_4;
            }
        }
    }
}

.post_base {
    &__header--event {
        .post_base__header-image {
            flex-basis: 50%;
            min-height: 400px;
        }
    }

    &__body--event {
        .post_base__body-content {
            flex-basis: 80%;
        }
    }
}
