.home-header {
  min-height: calc(100vh - 115px);
  background-image: url('../img/placeholder.jpg'); // relative from main.scss
  background-size: cover;
  background-position: center;
  padding: 0 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__sfi-title {
    background-color: $page_color_2;
    padding: 0.8rem;
    border-radius: 0.8rem;

    font-size: 2.3rem;
    text-align: center;
  }

  &__sfi-edition {
    color: $page_color_8;
    font-weight: 700;
  }
}