.home-header {
  margin-top: 66px;
  min-height: calc(100vh - 115px);
  background-image: url('../img/slide-1.jpg'); // relative from main.scss
  background-size: cover;
  background-position: center;
  padding: 0 0.8rem;
  animation: slider 10s infinite;

  display: flex;
  justify-content: center;
  align-items: center;

  &__sfi-title {
    background-color: $page_color_2;
    padding: 0.8rem;
    border-radius: 0.8rem;

    font-size: 2.3rem;
    text-align: center;
  }

  &__sfi-edition {
    color: $page_color_8;
    font-weight: 700;
  }
}
@keyframes slider {
  0% {
    background-image:url('../img/slide-1.jpg');
  }
  45% {
    background-image:url('../img/slide-1.jpg');
  }
  55% {
    background-image:url('../img/slide-2.jpg');
  }
  90% {
    background-image:url('../img/slide-2.jpg');
  }
  100% {
    background-image:url('../img/slide-1.jpg');
  }
}

@media (max-width: 768px) {
  .home-header {
   margin-top: 56px;
  }
}