.post_base-list {
  padding: 0 0.8rem;

  &__main-title {
    margin: 2rem auto;
    font-size: 48px;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0 auto;
    max-width: 80%;
  }

  &__more {
    max-width: 75%;
    margin: 0 auto;
    text-align: right;

    &-link {
      color: $page_color_5;
      font-size: 21px;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        color: $page_color_4;
      }
    }
  }

  &__single-post {
    flex-basis: 45%;

    display: flex;
    flex-wrap: nowrap;

    background-color: $page_color_7;
    margin-bottom: 2rem;
    border-radius: 15px;

    color: $page_color_1;
    text-decoration: none;

    &:hover {
      .post_base-list__title {
        color: $page_color_4;
      }

      .post_base-list__image > img {
        transform: scale(1.1);
      }
    }
  }

  &__image {
    flex-basis: 40%;
    border-radius: 15px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__post-info {
    flex-basis: 60%;
    padding: 0 0.8rem;

    display: flex;
    flex-direction: column;
  }

  &__info-container {
    flex: 1 0 auto;
  }

  &__title {
    color: $page_color_5;
    font-size: 1.3rem;
    font-weight: 700;
    transition: color 0.2s ease-in-out;

    margin: 0.8rem 0;
  }

  &__date {
    color: $page_color_6;
    font-size: 0.8rem;
  }

  &__post-content {
    font-size: 1rem;
  }

  &__read-more {
    @extend %sticky-footer;
    font-size: 1rem;
    text-align: right;
  }
}

.post_base {
  padding: 0.8rem 0;

  &__header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 0.6rem;
  }

  &__header-image {
    flex-basis: 50%;

    background: url("../img/post-header.png") no-repeat center center;
    background-size: cover;
    min-height: 320px;
    border-radius: 0 15px 15px 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__sfi-edition-info {
    background-color: $page_color_2;
    border-radius: 15px 0 0 15px;
    padding: 1rem;
    text-align: center;
  }

  &__sfi-edition {
    font-size: 1.6rem;
    margin: 0;
  }

  &__sfi-year {
    font-size: 2.2rem;
    font-weight: 700;
    color: $page_color_4;
    margin: 0;
  }

  &__header-title {
    flex-basis: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
  }

  &__title {
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 0.8rem 0;
  }

  &__date {
    font-size: 1rem;
    color: $page_color_4;
    margin: 0.2rem 0 0 0;
  }

  &__body {
    padding: 2rem 0.8rem;
    margin: 0 auto;
    max-width: 85%;

    display: flex;
    justify-content: space-evenly;
  }

  &__body-image {
    flex-basis: 15%;
    text-align: right;

    & > img {
      border-radius: 15px;
      max-height: 230px;
    }
  }

  &__body-content {
    flex-basis: 60%;
  }
}

.pagination {
  display: flex;
  width: 100%;
  margin: 50px 0;

  &__btn {
    font-size: 30px;
    flex-basis: 50%;
  }

  &__left {
    text-align: left;
    margin-left: 50px;
  }

  &__right {
    text-align: right;
    margin-right: 50px;
  }

  &__link {
    text-decoration: none;
    color: $page_color_1;
  }
}

// Large devices (desktops, less than 1200px)
@media screen and (max-width: 1199.98px) {
  .post_base-list {
    &__container {
      max-width: 100%;
    }
    
    &__more {
      max-width: 92%;
    }
  }
  
  .post_base {
    &__body {
      max-width: 100%;
      justify-content: space-around;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media screen and (max-width: 991.98px) {
  .post_base-list {
    &__container {
      max-width: 80%;
      
      flex-direction: column;
      justify-content: center;
    }

    &__more {
      max-width: 80%;
    }

    &__single-post {
      flex-basis: 100%;
    }
    
    &__image {
      flex-basis: 30%;
    }
    
    &__post-info {
      flex-basis: 70%;
    }
  }

  .post_base {
    &__header {
      flex-direction: column;
      justify-content: center;
    }

    &__header-image {
      flex-basis: 100%;
      width: 95%; // small gap on the right
      min-height: 200px;
      margin-bottom: 1.5rem;
    }

    &__header-title {
      flex-basis: 100%;
      text-align: center;
      padding: 0 1.2rem;
    }

    &__body {
      max-width: 80%;
      flex-direction: column;
      justify-content: center;
      padding-top: 1rem;
    }
    
    &__body-image {
      text-align: center;
      flex-basis: 100%;
      margin-bottom: 1.5rem;
    }
    
    &__body-content {
      flex-basis: 100%;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {
  .post_base-list {
    &__main-title {
      font-size: 36px;
    }
  }
}

@media (max-width: 575.98px) { 

  .post_base-list {
    &__single-post {
      flex-direction: column;
    }
    
    // TODO:
    // image?
  }
  
  .post_base {
    &__title {
      font-size: 2rem;
    }
    
    &__sfi-edition-info {
      padding: 0.6rem;
    }

    &__sfi-edition {
      font-size: 1.2rem;
    }
    
    &__sfi-year {
      font-size: 1.6rem;
    }
    
    &__body {
      max-width: 90%;
    }
  }
}