.home-header {
  margin-top: 66px;
  height: 50vh;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-height: 50vh;
    width: 100%;
    max-height: 100%;
  }

  .slide2 {
    animation: slider 10s infinite;
  }

  &__sfi-title {
    background-color: $page_color_2;
    padding: 0.8rem;
    border-radius: 0.8rem;

    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__sfi-edition {
    color: $page_color_4;
    font-weight: 700;
  }
}
@keyframes slider {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include breakpoint(tablet_portrait) {
  .home-header {
    &__sfi-title {
      font-size: 2.3rem;
    }
  }
}