.navbar {
  background-color: $page_color_2;
  padding: 0.8rem 2rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: solid 1px $page_color_6;
  z-index: 9997;
  max-width: 100%;

  &__logo {
    &:focus {
      outline: none;
    }

    & img {
      position: relative;
      margin-top: 30px;
      top: 0;
      left: 0;
      width: 40px;
      z-index: 9999;
    }
  }

  &__links {
    display: flex;
    list-style-type: none;
    align-items: center;
    text-transform: uppercase;

    margin: 0;
    position: fixed;
    flex-direction: column;
    background-color: $page_color_2;
    border-bottom: solid 1px $page_color_6;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 70px;
    padding-left: 0;
    justify-content: center;
    align-content: center;
    transform: translateY(-100%);
    z-index: 9998;
    transition: 0.3s;
  }

  &__li {
    margin: 0 auto 5px auto;
    display: flex;
    align-content: center;
  }

  &__link {
    text-decoration: none;
    color: $page_color_1;
    font-size: 1.3rem;
    transition: 0.3s;
    display: flex;
    align-content: center;
    &:hover {
      color: $page_color_4;
    }

    picture { //lang verion icon
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__image {
    margin-left: 0px;
    width: 1.6rem;
  }
}

#navbar__last:hover {
  &::after {
    width: 0;
  }
}

.navbar .is-active {
  transform: translateY(0);
}

@include breakpoint(tablet_landscape) {
  .navbar {
    border-bottom: solid 1px $page_color_9;

    &__logo {
  
      & img {    
        left: 70px;
        width: 70px;
      }
    }
  
    &__links {
      margin-right: 50px;
      transform: translateY(0);
      position: static;
      width: auto;
      padding-top: 0;
      transition-property: none;
      flex-direction: row;
      border-bottom: none;
    }
  
    &__li {
      margin: 0;
      margin-right: 15px;
    }
  
    &__image {
      margin-left: 20px;
    }
  }
}
