.navbar {
  background-color: $page_color_2;
  padding: 0.8rem 2rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: solid 1px $page_color_9;
  z-index: 9997;

  &__logo {
    &:focus {
      outline: none;
    }

    & img {
      position: relative;
      margin-top: 30px;
      top: 0;
      left: 70px;
      width: 70px;
    }
  }

  &__links {
    margin-right: 50px;
    display: flex;
    list-style-type: none;
  }

  &__li {
    margin-right: 15px;
    display: flex;
    align-content: center;
  }

  &__link {
    text-decoration: none;
    color: $page_color_1;
    font-size: 1.3rem;
    transition: 0.3s;
    //line-height: 100%;
    display: flex;
    align-content: center;
    &:hover {
      color: $page_color_4;
    }
  }

  &__image {
    margin-left: 20px;
    width: 1.6rem;
  }
}

#navbar__last:hover {
  &::after {
    width: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 30px;
    z-index: 9997;
    border-bottom: solid 1px $page_color_6;

    &__logo {
      & img {
        width: 40px;
        left: 0;
      }
    }

    &__links {
      margin: 0;
      position: fixed;
      flex-direction: column;
      background-color: $page_color_2;
      border-bottom: solid 1px $page_color_6;
      width: 100%;
      top: 0;
      left: 0;
      padding-top: 70px;
      padding-left: 0;
      justify-content: center;
      align-content: center;
      transform: translateY(-100%);
      z-index: 9998;
      transition: 0.3s;
    }

    &__image {
      margin-left: 0;
    }

    &__li {
      margin: 0 auto 5px auto;
    }

    &__logo {
      & img {
        z-index: 9999;
      }
    }
  }
  .navbar .is-active {
    transform: translateY(0);
  }
}
