{% load i18n %}
{% load common_tags %}

<div class="page-map" id="map-{{ random_id }}">
    <div id="map-placeholder-{{ random_id }}" class="page-map__placeholder">
        {% responsive_img value.placeholder "fill-2560x600" %}
        <div class="page-map__placeholder__text" id="map-text-{{ random_id }}">{% trans 'Click to interact' %}</div>
        <div class="page-map__loader" id="map-loader-{{ random_id }}"></div>
    </div>
</div>
<script>
    function loadMap() {
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2Zpa3Jha293IiwiYSI6ImNraGdxdTh6cjBhZWYyeXA5eDcyeXd6Y2cifQ.-NAKKJp7riuLG6qdWcExvw';
        const map = new mapboxgl.Map({
            container: "map-{{ random_id }}",
            style: 'mapbox://styles/mapbox/dark-v9',
            center: [{{ value.center_longitude }}, {{ value.center_latitude }}],
            zoom: {{ value.zoom }},
            pitch: {{ value.pitch }},
            bearing: {{ value.bearing }}
        });
        map.addControl(new mapboxgl.NavigationControl, "bottom-left");
        map.on('load', function () {
            const layers = map.getStyle().layers;

            let labelLayerId;
            for (let i = 0; i < layers.length; i++) {
                if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                    labelLayerId = layers[i].id;
                    break;
                }
            }
            map.addLayer(
                {
                    'id': '3d-buildings',
                    'source': 'composite',
                    'source-layer': 'building',
                    'filter': ['==', 'extrude', 'true'],
                    'type': 'fill-extrusion',
                    'minzoom': 15,
                    'paint': {
                        'fill-extrusion-color': '#aaa',
                        'fill-extrusion-height': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            15,
                            0,
                            15.05,
                            ['get', 'height']
                        ],
                        'fill-extrusion-base': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            15,
                            0,
                            15.05,
                            ['get', 'min_height']
                        ],
                        'fill-extrusion-opacity': 0.6
                    }
                },
                labelLayerId
            );
        });
        let markers = {
            type: "FeatureCollection",
            features: [
                {% for marker in value.markers %}
                    {
                        type: "Feature",
                        geometry: {type: "Point", coordinates: [{{ marker.longitude }}, {{ marker.latitude }}]},
                        properties: {description: "SFI location"}
                    },
                {% endfor %}
            ]
        };
        markers.features.forEach(function (e) {
            let element = document.createElement("div");
            element.className = "page-map__marker";
            new mapboxgl.Marker(element).setLngLat(e.geometry.coordinates).addTo(map)
        });
    }

    document.getElementById("map-placeholder-{{ random_id }}").onclick = function () {
        document.getElementById("map-text-{{ random_id }}").style.display = 'none'
        document.getElementById("map-loader-{{ random_id }}").style.display = 'block'
        document.addEventListener("dynmap-loaded", function () {
            loadMap();
        })

        if (window.dynMap !== undefined) {
            return;
        }
        window.dynMap = {}

        const css = document.createElement('link');
        document.body.appendChild(css);
        css.onload = function () {
            window.dynMap.css = true
            if (window.dynMap.script === true) {
                document.dispatchEvent(new CustomEvent("dynmap-loaded"));
            }
        }
        css.rel = 'stylesheet';
        css.href = 'https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css';
        const script = document.createElement('script');
        document.body.appendChild(script);
        script.onload = function () {
            window.dynMap.script = true
            if (window.dynMap.css === true) {
                document.dispatchEvent(new CustomEvent("dynmap-loaded"));
            }
        }
        script.src = 'https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'
    }
</script>
