.block-photo_gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    flex-basis: 12%;
    justify-content: space-between;
    align-items: center;
    
    text-decoration: none;
    color: $page_color_1;
    font-size: 16px;
    height: 250px;
    margin: 10px;

    & > p {
      width: 100%;
      text-align: center;
    }
  }

  &__photo-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // temporary
  @media (max-width: 400px) {
    &__image img {
      width: 120px;
    }

    &__container {
      height: 200px;
    }
  }

}