.error-page {
  padding: 4em;
  text-align: center;
  
  h1 { 
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  button {
    font-size: 1.2rem;
    background-color: $page_color_5;
    color: $page_color_1;
    transition: 0.3s;
    padding: 15px 35px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }

  button:hover {
    background-color: $page_color_4;
  }
}

@include breakpoint(tablet_portrait) {
  .error-page {
    padding: 5rem;

    h1 {
      font-size: 3rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  }
}

@include breakpoint(laptop) {
  .error-page {
    padding: 6rem;

    h1 {
      font-size: 3.5rem;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  }
}

@include breakpoint(fhd) {
  .error-page {
    padding: 8rem;

    h1 {
      font-size: 4rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  }
}