.event-info {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 15px;

  ul {
    margin: 0;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 18ch;
    flex-shrink: 0;
    text-align: center;
    color: $page_color_4;
    margin-bottom: 0.6rem;
    line-height: 1.4;

    &--event-title {
      align-self: center;
    }
  }

  &__content {
    font-size: 1.2rem;
    //flex-basis: 80%;
    padding-left: 0;

    &--event-title {
      font-size: 2rem;
      color: $page_color_5;
    }

    &--icon-list {
      list-style: none;
      padding-inline-start: 0;
    }
  }
}

.event-header_details {
  font-size: 1rem;

  &_value {
    color: $page_color_5;
    line-height: 1.4;

    &--link {
      color: $page_color_5;
      text-decoration: none;
      transition: color 0.2s ease-in;
      font-weight: 700;

      &:hover {
        color: $page_color_4;
      }
    }

    &--image-link {
      transition: 0.3s;
      display: block;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--embed {
      margin: 20px 0;
    }
  }
}

.post_base {
  &__body--event {
    .post_base__body-content {
      flex-basis: 80%;
    }
  }
}


@include breakpoint(tablet_portrait) {
  .event-info {
    flex-direction: row;
    justify-content: normal;
    align-items: flex-start;
    margin-top: 0;

    &-center {
      align-items: center;
    }

    &__title {
      margin-bottom: 0;
      text-align: right;
    }

    &__content {
      padding-left: 2rem;
    }
  }
}


@include breakpoint(fhd) {
  .event-info {
    &__title, &__content {
      font-size: 1.3rem;
    }
  }
}
