.post_base-list {
  padding: 0 0.8rem;
  margin: 30px 0;

  &__main-title {
    margin: 2rem auto;
    font-size: 48px;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    max-width: 80%;
  }

  &__more {
    max-width: 92%;
    margin: 0 auto;
    text-align: center;

    button, a {
      background-color: $page_color_5;
      color: $page_color_1;
      transition: 0.3s;
      padding: 15px 35px;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 22px;
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
    }

    button:hover, a:hover {
      background-color: $page_color_4;
    }
  }

  &__single-post {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    flex-direction: column;

    background-color: $page_color_7;
    margin-bottom: 2rem;
    border-radius: 15px;

    color: $page_color_1;
    text-decoration: none;

    &:hover {
      .post_base-list__title {
        color: $page_color_4;
      }

      .post_base-list__image > img {
        transform: scale(1.1);
      }
    }
  }

  &__image {
    flex-basis: 30%;
    border-radius: 15px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__post-info {
    flex-basis: 70%;
    padding: 0 0.8rem;

    display: flex;
    flex-direction: column;
  }

  &__info-container {
    flex: 1 0 auto;
  }

  &__title {
    color: $page_color_5;
    font-size: 1.4rem;
    font-weight: 700;
    transition: color 0.2s ease-in-out;

    margin: 0.8rem 0;
  }

  &__date {
    color: $page_color_6;
    font-size: 1rem;
  }

  &__post-content {
    font-size: 1.2rem;
  }

  &__read-more {
    @extend %sticky-footer;
    font-size: 1.2rem;
    text-align: right;
  }
}

.post_base {
  padding: 0.8rem 0;

  &__header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.6rem;
    overflow: hidden;
  }

  &__header-container {
    position: relative;
    flex-basis: 50%;
  }

  &__header-image img {
    display: block;
    width: 95%;
    object-fit: cover;
    max-height: 100%;
    border-radius: 0 25px 25px 0;
    margin-bottom: 1.5rem;
    min-height: 200px;
  }


  &__sfi-edition-info {
    background-color: $page_color_2;
    border-radius: 15px 0 0 15px;
    padding: 0.6rem;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }

  &__sfi-edition {
    font-size: 1.2rem;
    margin: 0;
  }

  &__sfi-year {
    font-size: 1.6rem;
    font-weight: 700;
    color: $page_color_4;
    margin: 0;
  }

  &__header-title {
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 1.2rem;

    &__button {
      background-color: $page_color_5;
      color: $page_color_1;
      transition: 0.3s;
      margin-top: 30px;
      margin-right: 15px;
      padding: 15px 25px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 550;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      text-decoration: none;
      display: inline-block;

      &:hover {
        background-color: $page_color_4;
      }
    }

    & > * {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }

  &__date {
    font-size: 1rem;
    color: $page_color_4;
    margin-top: 0.2rem;
  }

  &__body {
    padding: 2rem 0.8rem;
    margin: 0 auto;
    max-width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
  }

  &__body-image {
    text-align: center;
    margin-bottom: 1.5rem;

    & > img {
      border-radius: 15px;
      max-height: 230px;
    }
  }

  &__body-content {
    padding-left: 0;
  }
}

.pagination {
  display: flex;
  width: 80%;
  margin: 30px auto;
  justify-self: center;

  &__btn {
    font-size: 30px;
    flex-basis: 50%;
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }

  &__link {
    text-decoration: none;
    color: $page_color_5;
    font-size: 45px;
    transition: all .3s ease-in-out;

    &:hover {
      color: $page_color_4;
    }
  }
}

@include breakpoint(tablet_portrait) {
  .post_base-list {
    &__single-post {
      flex-direction: row;
      flex-basis: 45%;

      &-full {
        flex-basis: 100% !important;
      }
    }

    &__full {
      flex-basis: 40%;

      &-small {
        flex-basis: 25% !important;
      }
    }

    &__post-info {
      flex-basis: 60%;

      &-full {
        flex-basis: 75% !important;
      }
    }
  }

  .post_base {
    &__title {
      font-size: 2.6rem;
    }

    &__sfi-edition-info {
      padding: 1rem;
    }

    &__sfi-edition {
      font-size: 1.8rem;
    }

    &__sfi-year {
      font-size: 2.8rem;
    }

    &__body {
      max-width: 80%;
    }
  }

  .pagination {
    margin: 50px auto;
  }
}

@include breakpoint(tablet_landscape) {
  .post_base-list {
    &__container {
      flex-direction: row;
      justify-content: space-evenly;
      max-width: 80%;
    }

    &__more {
      max-width: 75%;
    }
  }

  .post_base {
    &__header {
      flex-direction: row;
      justify-content: space-between;
    }

    &__header-image img {
      width: 100%;
      height: 100%;
    }

    &__sfi-edition-info {
      right: 0;
    }

    &__header-title {
      flex-basis: 46%;
      text-align: left;
      padding: 0;
    }

    &__body {
      flex-direction: row;
      justify-content: normal;
      padding-top: 2rem;
    }

    &__body-image {
      text-align: left;
      margin-bottom: 0;
    }

    &__body-content {
      padding-left: 3rem;
    }
  }
}

@include breakpoint(laptop) {
  .post_base {
    &__header {
      height: 400px;
    }

    &__body {
      max-width: 65%;
    }
  }
}
