html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: $page_font_default;

  color: $page_color_1;
  background-color: $page_color_1;

  // Needed for a sticky footer
  display: flex;
  flex-direction: column;
}

// Sticky footer implementation
.content {
  flex: 1 0 auto;
}

%sticky-footer {
  flex-shrink: 0;
}
// End of sticky footer implementation